/* #wrapper{
    max-width: 960px;
    margin: 0 auto;
} */
#header{
    background-color: tomato;
    padding: 15px;
    color: white;
}
#content{
    min-height:600px;
    background-color: beige;
    
}
#footer{
    background-color: black;
    padding: 15px;
    color: white;
    
}
