<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        a{
            margin-right: 10px;
            text-decoration: none;
            color: brown;
            font-weight: 600;
            font-size: 17px;
        }
    </style>
    <h2>
    Xây dựng 7 layouts
    </h2>
    <a href="layout-1.html" target="_blank">layout-1</a>
    <a href="layout-2.html" target="_blank">layout-2</a>
    <a href="layout-3.html" target="_blank">layout-3</a>
    <a href="layout-4.html" target="_blank">layout-4</a>
    <a href="layout-5.html" target="_blank">layout-5</a>
    <a href="layout-6.html" target="_blank">layout-6</a>
    <a href="layout-7.html" target="_blank">layout-7</a>
</html>